<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="de.julielab" level="INFO"/>
    <logger name="de.julielab.jcore.reader.xmi.XmiDBReader" level="trace"/>
    <logger name="de.julielab.jcore.reader.db.DBSubsetReader" level="debug"/>
    <!--<logger name="de.julielab.jcore.consumer.xmi.XmiDataInserter" level="trace"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
